<section class="product-video-wrapper">
  <video loop="" muted="" autoplay="autoplay" controls="controls" preload="" id="vid" width="100%" height="100%">
    <source src="https://cdn.shopify.com/s/files/1/0568/9049/1074/t/2/assets/DSC-5413.mp4?v=1629957610" type="video/webm">
    <source src="https://cdn.shopify.com/s/files/1/0568/9049/1074/t/2/assets/DSC-5413.mp4?v=1629957610" type="video/mp4">
  </video>
</section>


<section class="why-emma">
<!-- your code here    -->
  <div class="wrapper">
    <div class="grid">
      <div class="grid__item large--eight-twelfths push--large--two-twelfths">
        <p class="subheader-text wow fadeIn">GLOBAL LEADER IN SLEEP PRODUCTS</p>
        <h3 class="header-text wow fadeIn" data-wow-delay=".2s">Why the Test Store Flip Topper?</h3>

      </div>
    </div>

    <div class="grid wow fadeIn">
      <div class="grid__item large--one-third">
        <div class="why-emma-features">
          <div class="features-img-cont">
	          <img src="{{ "comfortable.png" | asset_url }}">
          </div>
          <h6>Irresistibly comfortable</h6>
          <p>With pressure-compensating HRXSupreme foam and soft Airgocell® foam, you are wonderfully comfortable in every position. And with our breathable UltraDry Cover you can sleep cool and dry all night..</p>
        </div>
      </div>
      <div class="grid__item large--one-third">
        <div class="why-emma-features">
          <div class="features-img-cont">
	          <img src="{{ "all-situations.png" | asset_url }}">
          </div>
          <h6>A topper for all situations</h6>
          <p>Your sleep preferences can change over time. That's not a problem with our topper. Simply choose between a firmer and a softer side to achieve the comfort you want.</p>
        </div>
      </div>
      <div class="grid__item large--one-third">
        <div class="why-emma-features">
          <div class="features-img-cont">
	          <img src="{{ "carefree-guarantee.png" | asset_url }}">
          </div>
          <h6>All-round carefree guarantee</h6>
          <p>Our topper is 100% vegan, non-toxic, and certified according to the highest OEKO-TEX® 100 standards. With its washable cover, the topper is also perfectly suitable for those with allergies. </p>
        </div>
      </div>
    </div>

    <div class="grid tech-materials">
      <div class="grid__item large--one-half">
        <div class="tech-mat-img">
	        <img src="{{ "topper-big-img.png" | asset_url }}" class="wow fadeIn">
        </div>
      </div>
      <div class="grid__item large--one-half">
        <div class="techmat-cont">
          <h5 class="wow fadeIn" data-wow-delay=".2s">
            QUALITY MATERIALS
          </h5>
          <h3 class="wow fadeIn" data-wow-delay=".4s">
            Add a Layer of Comfort to Your Mattress
          </h3>
          <p class="wow fadeIn" data-wow-delay=".6s">
			With the use of our foam layer technology, our toppers have been designed to provide luxury comfort at affordable prices.           </p>
        </div>
      </div>
    </div>
  </div>


  <div class="wrapper techmat-section">

   <div class="grid techmat-slider topper-techmat">
     <div class="grid__item large--one-third wow fadeIn">
       <div class="techmat--slider-cont">

         <div class="techmat--slider-par">
           <p class="text-lg font-weight-bold">
             Cool Cover
           </p>
           <p class="text-sm">
           	UltraDry technology transports moisture away quickly and ensures a pleasantly cool and dry sleeping environment.
           </p>
         </div>
       </div>
     </div>
     <div class="grid__item large--one-third wow fadeIn" data-wow-delay=".2s">
       <div class="techmat--slider-cont">

         <div class="techmat--slider-par">
           <p class="text-lg font-weight-bold">
             Pressure equalizing and relieving
           </p>
           <p class="text-sm">
           	The pressure-equalizing HRXSupreme foam supports you in exactly the right places. Turn this side up if you want a slightly firmer feel.
           </p>
         </div>
       </div>
     </div>
     <div class="grid__item large--one-third wow fadeIn" data-wow-delay=".4s">
       <div class="techmat--slider-cont">

         <div class="techmat--slider-par">
           <p class="text-lg font-weight-bold">
             Soft and breathable
           </p>
           <p class="text-sm">
           	 Our particularly breathable Airgocell® foam ensures a pleasant sleeping environment. Turn this side up if you prefer a soft feel.
           </p>
         </div>
       </div>
     </div>
	</div>
  </div>

<!--   <div class="wrapper sleep-positions topper-product">
    <div class="grid">
      <div class="grid__item large--five-twelfths">
        <div class="sleep-position-det wow fadeInDown">
          <h5>
            BETTER SLEEP FOR EVERYONE
          </h5>
          <h3>
            Perfect for All Sleeping Positions
          </h3>
          <h4>
            Side Sleeper
          </h4>
          <p>
			Since the greatest distance between head and shoulder has to be bridged with a side sleeper, we recommend that you use all three layers as a side sleeper and define your preferred top side.
          </p>
          <h4>
            Back Sleeper
          </h4>
          <p>
            If you sleep on your back, we recommend using two of the three layers. When choosing the upper layer, you are of course free to make your own decision thanks to your individual lying sensation.
          </p>
          <h4>
            Stomach Sleeper
          </h4>
          <p>
            As a stomach sleeper, we recommend that you remove all but one layer for the ideal height. You can decide individually which of the three layers corresponds to your personal reclining preference.
          </p>
        </div>
      </div>
      <div class="grid__item large--seven-twelfths">
        <div class="slp--wrapper wow fadeInDown" data-wow-delay=".2s">
          <div class="slp--like-rct">
            <div class="slp-like-cont">
              <div class="slp-likes">
                55
                <img src="{{ "like-icon.svg" | asset_url }}"  class="wow fadeInUp" data-wow-delay=".4s">

                <img src="{{ "notif-arrow-down.svg" | asset_url }}" class="notif-arrow-down">
              </div>
              <img src="{{ "sea-fave-photo-pt-3.png" | asset_url }}">
            </div>
          </div>
          <img src="{{ "sea-fave-photo-pt-7.png" | asset_url }}" class="main-img">
          <img src="{{ "pitch-dots.svg" | asset_url }}" class="pitch-dots">
          <div class="slp--heart-rct">
            <div class="slp-heart-cont">
              <div class="slp-hearts">
                22
                <img src="{{ "heart-icon.svg" | asset_url }}" class="wow fadeInRight" data-wow-delay=".6s">
                <img src="{{ "notif-arrow-down.svg" | asset_url }}" class="notif-arrow-left">
              </div>
              <img src="{{ "sea-fave-photo-pt-6.png" | asset_url }}">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->



</section>

<section class="bedsize-section">
    <div class="wrapper bedsize-block">
      <div class="grid">
        <div class="grid__item large--six-twelfths push--large--three-twelfths">
          <div class="bedsize-heading">
            <h5 class="wow fadeIn">
              CRAFTED WITH QUALITY
            </h5>
            <h3 class="wow fadeIn" data-wow-delay=".2s">
              Learn more about our Topper
            </h3>
            <br> <br>
<!--             <p class="wow fadeInDown" data-wow-delay=".4s">
              We know how difficult it is to find a good pillow. That is why we have developed the perfect pillow for all types of sleep: individually height-adjustable, maximally comfortable and with an all-round carefree guarantee.​
            </p> -->
          </div>
        </div>

        <div class="grid__item large--ten-twelfths push--large--one-twelfth">
          <img src="{{ "Topper-Test Store.png" | asset_url }}" class="bedsize-model wow fadeIn" data-wow-delay=".6s">
        </div>

        <div class="grid__item large--eight-twelfths push--large--two-twelfths">
          <div class="bedsize-collapse">
            <button class="collapsible">Construction and Materials</button>
            <div class="content">
              <div>
                <p>
                  Cover Layer Material<br>
                  > Removable and washable top cover: 99% polyester and 1% elastane<br>
                  > Side cover: 100% polyester<br>
                  > Bottom cover: 87% polyester and 13% polypropylene<br>
                  > All materials are OEKO TEX® Standard 100 - Class 1 certified.<br>
				  <br>
                  <br>
                  Mattress Core Construction<br>
                  > Breathable eco-friendly hyperfoam <br>
                  > Supportive polyether foam <br>
                  > Pressure-relieving point-elastic foam <br>
                  > All sizes have a depth of 25cm <br>
                  > All layers are OEKO TEX® Standard 100 - Class 1 certified
                </p>
              </div>
            </div>
            <button class="collapsible">Size and Weight</button>
            <div class="content">
              <div>
                <p>
                  Single：  90（width） x 190（length） x 25 cm（height）& 19 kg<br>
                  Queen：150（width） x 190（length） x 25 cm（height）& 32 kg<br>
                  King：180（width） x 190（length） x 25 cm（height）& 39 kg
                </p>
              </div>
            </div>

            <!-- button class="collapsible">Mattress Firmness</button>
            <div class="content">
              <div>
                <p>
                  Level 6.2 Firmness (1 softest, 10 hardest)
                </p>
              </div>
            </div -->
            <button class="collapsible">Country of Origin</button>
            <div class="content">
              <div>
                <p>
                  Designed in Germany, all toppers are manufactured to our high quality assurance standards.
                </p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>

<section class="customer-reviews-wrapper">
  <div class="wrapper">
{% render 'judgeme_widgets', widget_type: 'judgeme_review_widget', concierge_install: false, product: product %}
  </div>
</section>

<!--section class="free-trial-section">
  <div class="wrapper">
    <div class="free-trial-section--width">
      <img class="img-fluid free-trial-logo wow fadeIn" src="{{ "decor-100-night.png" | asset_url }}">
      <h2 class="text-orange free-trial-section--title wow fadeIn" data-wow-delay=".2s">
      	100 Day Money-Back Guarantee
      </h2>
      <p class="text-sky-blue text-lg font-weight-bold text-mobile-nm free-trial-section--description wow fadeIn" data-wow-delay=".4s">
      	The best way to find out whether a product is right for you, is right from the comfort of your own home. That's why we give you 100 nights to test your Test Store products. If you decide it's not quite right, you can send it back and receive a full refund.
      </p>
    </div>
  </div>
</section>

<section class="other-products-section">
  <div class="wrapper">
    <p class="text-lg text-primary-light font-weight-bold other-products-section--top-sub wow fadeIn">
    	RECOMMENDED PRODUCTS
    </p>
    <h3 class="text-primary header-text other-products-section--title wow fadeIn" data-wow-delay=".2s">
    	Other products you may be interested in
    </h3>
   <!---<p class="text-primary text-nm wow fadeIn" data-wow-delay=".4s">
    	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Scelerisque semper arcu eu ultrices sit ornare neque, in vitae. Feugiat viverra vitae vel eget elit et dictumst.
    </p>--->

    <div class="custom-featured-products-row wow fadeIn" data-wow-delay=".4s">
      {% for product in collections['mattress'].products limit: 3 %}
          {% assign current_variant = product.selected_or_first_available_variant %}


          <div class="featured-product-item">
            <a class="shop-now" href="{{ product.url }}">
              <div class="featured-product-item-flex">
              	<p class="text-sm text-primary font-weight-bold featured-product-item--tag">
                    {{ product.tags }}
                </p>
                {% if product.compare_at_price_max > product.price %}

                {% capture discount %}
      		    {{ product.compare_at_price_min | minus:product.price | times:100 | divided_by:product.compare_at_price_min | plus:0 }}%
                {% endcapture %}

                  <p class="text-sm text-white featured-product-item--discount font-weight-bold">
                    -{{ discount }}
              	  </p>
                {% endif %}
              </div>
              <h4 class="text-primary featured-product-item--title">
                {{ product.title | escape }}
              </h4>

                {% include 'product-price', variant: current_variant %}

              <img src="{{ product.featured_image | product_img_url: 'medium' }}" alt="{{ product.title | escape }}" / class="featured-product-item--image">
            </a>
          </div>
      {% endfor %}
    </div>
  </div>
</section>

<!-- section class="product-faqs-section">
  <div class="wrapper">
    <div class="product-faqs-section--flex">
      <div class="product-faqs-section--accordion-wrapper">
        <h5 class="body-text wow fadeIn">
        	We will answer your questions about this product
        </h5>
        <div class="bedsize-collapse wow fadeIn" data-wow-delay=".2s">
            <button class="collapsible">How does the delivery process work?</button>
            <div class="content">
              <div>
                <p>
                  Supports good air circulation and features handles and anti-slip elements for underside traction.
                </p>
              </div>
            </div>
            <button class="collapsible">How does the delivery process work?</button>
            <div class="content">
              <div>
                <p>
                  Our eco-friendly foam is kind to the environment and your sleep. This breathable foam wicks away moisture and stops you from overheating. It’s also wonderfully bouncy yet features zero partner disturbance technology for sweet slumbers every night.
                </p>
              </div>
            </div>
            <button class="collapsible">Can I choose to delay the delivery of my mattress until a later date?</button>
            <div class="content">
              <div>
                <p>
                  The modern marvel in the middle. This high resilience foam distributes pressure perfectly across the mattress and effortlessly adapts specifically to different parts of your body. Guaranteed to keep you comfortable however way you sleep.
                </p>
              </div>
            </div>
            <button class="collapsible">Can I choose to delay the delivery of my mattress until a later date?</button>
            <div class="content">
              <div>
                <p>
                  We’re here to support you – and this foam layer does just that. This durable dream come true provides essential counter-pressure to comfortably support your lower back and make moving on the mattress a breeze without disturbing your partner.
                </p>
              </div>
            </div>
            <button class="collapsible">What is the difference between the Test Store One and the Test Store Original Mattress?</button>
            <div class="content">
              <div>
                <p>
                  <img src="{{ "size-of-bed.png" | asset_url }}">
                </p>
              </div>
            </div>
          </div>
      </div>
      <div class="product-faqs-section--second-col wow fadeIn" data-wow-delay=".4s">
        <h6 class="h6-small text-white body-text">
        	More questions?
        </h6>
        <p class="text-lg text-white">
          <a href="/pages/contact-us">Contact Us</a> via chat or Send us an email. We will respond as quickly as possible with 2 hours.
        </p>
      </div>
    </div>
  </div>
</section -->

<section class="custom-three-column-section">
  <div class="wrapper"><br>
    <p class="text-lg other-text font-weight-bold text-primary-light text-mobile-center custom-three-column-section--top-sub wow fadeIn">
    	OUR PROMISE
    </p>
    <h2 class="text-primary text-mobile-center custom-three-column-section--title wow fadeIn" data-wow-delay=".3s">
    	Leave the stress to us, not on your sleep
    </h2>
    <div class="custom-three-column-section--row wow fadeIn" data-wow-delay=".5s">



      	<div class="custom-three-column-section--row__column">
    		<img class="img-fluid three-col--img" width="80px" src="{{ "usp_delivery.svg" | asset_url }}">
          	<h6 class="h6-small text-capitalize three-col--title">
          		Free Shipping
          	</h6>
          	<p class="text-sm other-text font-weight-normal three-col--description">
          		You don't have to worry about paying to get Test Store products to your home. All products are delivered quickly and free of charge!
          	</p>
    	</div>

      	<div class="custom-three-column-section--row__column">
    		<img class="img-fluid three-col--img" width="80px" src="{{ "usp_100days.svg" | asset_url }}">
          	<h6 class="h6-small text-capitalize three-col--title">
          		100 Day Money-Back Guarantee
          	</h6>
          	<p class="text-sm other-text font-weight-normal three-col--description">
          		The best way to find out whether a product is right for you, is right from the comfort of your own home. That's why we give you 100 nights to test your Test Store products. If you decide it's not quite right, you can send it back and receive a full refund.
          	</p>
    	</div>

      	<div class="custom-three-column-section--row__column">
    		<img class="img-fluid three-col--img" width="80px" src="{{ "USP_return1.svg" | asset_url }}">
          	<h6 class="h6-small text-capitalize three-col--title">
          		Free Returns
          	</h6>
          	<p class="text-sm other-text font-weight-normal three-col--description">
          		If Test Store is not for you, we will pick it up for free and refund what you paid.
          	</p>
            <p><i>*Return service is currently only available within select areas. For areas outside coverage, please visit our FAQs or email support@emma-sleep.ph for more details.
              </i><p>
    	</div>

    </div>
  </div>
  <img class="img-fluid three-col--img-decor" src="{{ "half-moon-desktop-blue.svg" | asset_url }}">
</section>
