<section class="why-emma">
<!-- your code here    -->
  <div class="wrapper">
    <div class="grid">
      <div class="grid__item large--one-half push--large--one-quarter medium--one-half push--medium--one-quarter">
        <p class="subheader-text wow fadeIn">GLOBAL LEADER IN SLEEP PRODUCTS</p>
        </div>
      <div class="grid__item large--eight-twelfths push--large--two-twelfths">
        <h3 class="header-text wow fadeIn" data-wow-delay=".2s">Why the Test Store Foam Pillow?</h3>
      </div>
      <div class="grid__item large--one-half push--large--one-quarter medium--one-half push--medium--one-quarter">

      </div>
    </div>

    <div class="grid wow fadeIn">
      <div class="grid__item large--one-third">
        <div class="why-emma-features">
          <div class="featured-pillows">
            <img class="img-fluid" src="{{ "pillow-sleeping-position.png" | asset_url }}">
          </div>
          <h4>A pillow for all sleeping positions</h4>
          <p>No matter if you sleep on your side, back or on your stomach: With the individually removable layers you can adjust the pillow height exactly to your needs.</p>
        </div>
      </div>
      <div class="grid__item large--one-third">
        <div class="why-emma-features">
          <div class="featured-pillows">
            <img class="img-fluid" src="{{ "pillow-sleeping-comfort.png" | asset_url }}">

          </div>
          <h4>Maximum sleeping comfort</h4>
          <p>Full relaxation of the head, shoulders and neck thanks to our adaptive visco foam. Wonderful lying feeling thanks to individually adjustable degrees of hardness. Heavenly dry and cool thanks to breathable Airgocell® foam and UltraDry cover.</p>
        </div>
      </div>
      <div class="grid__item large--one-third">
        <div class="why-emma-features">
          <div class="featured-pillows">
            <img class="img-fluid" src="{{ "pillow-all-around.png" | asset_url }}">
          </div>
          <h4>All-around carefree pillow</h4>
          <p>100% carefree: Our pillow retains its support overnight and for years. It is hypoallergenic, vegan, OEKOTEX-100 tested for harmful substances and has a washable cover. And as always, you can try sleep for 100 nights!</p>
        </div>
      </div>
    </div>
  </div>


  <div class="wrapper-full">
    <div class="grid">
      <div class="grid__item">
        <div class="expl-cont">
          <img class="img-fluid wow fadeIn" src="{{ "emma-foam-pillow-explosion.png" | asset_url }}">
          <div class="expl-det-cont">
            <p class="subheader-text wow fadeIn" data-wow-delay=".2s">QUALITY MATERIALS</p>
            <h3 class="header-text wow fadeIn" data-wow-delay=".4s">More than just a Pillow</h3>
            <p class="intro-text wow fadeIn" data-wow-delay=".6s">Our scientifically designed pillow, crafted by our sleep experts will change the way you usually think about pillows. </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="wrapper">
    <div class="grid">
      <div class="grid__item">
        <div class="layrs-strctre">
          <div class="layrs-det wow fadeIn">
            <h5>
              Cooling Cover
            </h5>
            <p>
              UltraDry technology transports moisture away quickly and ensures a pleasantly cool, dry sleeping environment.
            </p>
          </div>
          <div class="layrs-det wow fadeIn" data-wow-delay=".2s">
            <h5>
              Precise pressure relief
            </h5>
            <p>
              Adaptive viscose foam supports your head and neck precisely so that you can sleep completely relaxed.
            </p>
          </div>
          <div class="layrs-det wow fadeIn" data-wow-delay=".4s">
            <h5>
              Soft and breathable
            </h5>
            <p>
              Heavenly sleeping climate thanks to breathable Airgocell® foam. The softest of the three layers.
            </p>
          </div>
          <div class="layrs-det wow fadeIn" data-wow-delay=".6s">
            <h5>
              Supportive
            </h5>
            <p>
              Visco foam with a slightly softer feeling to lie on - but consistently strong relief for the head, neck and shoulders.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="wrapper sleep-positions">
    <div class="grid">
      <div class="grid__item xlarge--five-twelfths">
        <div class="sleep-position-det wow fadeIn">
          <h5>
            BETTER SLEEP FOR EVERYONE
          </h5>
          <h3>
            Perfect for All Sleeping Positions
          </h3>
          <h4>
            Side Sleeper
          </h4>
          <p>
			Since the greatest distance between head and shoulder has to be bridged with a side sleeper, we recommend that you use all three layers as a side sleeper and define your preferred top side.
          </p>
          <h4>
            Back Sleeper
          </h4>
          <p>
            If you sleep on your back, we recommend using two of the three layers. When choosing the upper layer, you are of course free to make your own decision thanks to your individual lying sensation.
          </p>
          <h4>
            Stomach Sleeper
          </h4>
          <p>
            As a stomach sleeper, we recommend that you remove all but one layer for the ideal height. You can decide individually which of the three layers corresponds to your personal reclining preference.
          </p>
        </div>
      </div>
      <div class="grid__item xlarge--seven-twelfths">
        <div class="slp--wrapper wow fadeIn" data-wow-delay=".2s">
          <div class="slp--like-rct">
            <div class="slp-like-cont">
              <div class="slp-likes">
                55
                <img class="img-fluid wow fadeInUp" data-wow-delay=".4s" src="{{ "like-icon.svg" | asset_url }}">
                <img class="img-fluid notif-arrow-down" src="{{ "notif-arrow-down.svg" | asset_url }}">
              </div>
              <img src="{{ "sea-fave-photo-pt-3.png" | asset_url }}">
            </div>
          </div>
          <img class="img-fluid main-img" src="{{ "sea-fave-photo-pt-7.png" | asset_url }}">
          <img class="img-fluid pitch-dots" src="{{ "pitch-dots.svg" | asset_url }}">
          <div class="slp--heart-rct">
            <div class="slp-heart-cont">
              <div class="slp-hearts">
                22
                <img class="img-fluid wow fadeInRight" data-wow-delay=".6s" src="{{ "heart-icon.svg" | asset_url }}">
                <img class="img-fluid notif-arrow-left" src="{{ "notif-arrow-down.svg" | asset_url }}">
              </div>
              <img class="img-fluid" src="{{ "sea-fave-photo-pt-6.png" | asset_url }}">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>

<section class="bedsize-section">
    <div class="wrapper bedsize-block">
      <div class="grid">
        <div class="grid__item large--six-twelfths push--large--three-twelfths">
          <div class="bedsize-heading">
            <h5 class="wow fadeIn">
              CRAFTED WITH QUALITY
            </h5>
            <h3 class="wow fadeIn" data-wow-delay=".2s">
              Learn more about our Pillow
            </h3>
            <!--
            <p class="wow fadeInDown" data-wow-delay=".4s">
              We know how difficult it is to find a good pillow. That is why we have developed the perfect pillow for all types of sleep: individually height-adjustable, maximally comfortable and with an all-round carefree guarantee.
            </p> -->
          </div>
        </div>

        <div class="grid__item large--ten-twelfths push--large--one-twelfth">
          <img class="img-fluid bedsize-model wow fadeIn" data-wow-delay=".6s" src="{{ "emma-original-mattress-explosion-cover-core-blue-cstm.png" | asset_url }}">
        </div>

        <div class="grid__item large--eight-twelfths push--large--two-twelfths">
          <div class="bedsize-collapse">
            <button class="collapsible">Construction and Materials</button>
            <div class="content">
              <div>
                <p>
                  -> 12 cm High<br>
                  -> Hypergel Foam<br>
                  -> Hypersoft Foam<br>
                  -> Visco Foam<br>
                  -> Completely removable and washable cover made of 98% polyester and 2% elastane.
                </p>
              </div>
            </div>
            <button class="collapsible">Certification</button>
            <div class="content">
              <div>
                <p>
                  Our Test Store neck support pillow complies with the OEKO-TEX® Standard 100, Class 1 (16.0.93305 and is therefore also suitable for babies.
                </p>
              </div>
            </div>
            <button class="collapsible">Height and Weight</button>
            <div class="content">
              <div>
                <p>
                  Height: 70 x 40 cm<br>
                  Total Weight: 1500 g<br>
                  Filling Weight: 1200 g
                </p>
              </div>
            </div>
            <button class="collapsible">Washing Instruction</button>
            <div class="content">
              <div>
                <p>
                 -> Cover can be washed in the washing machine at up to 40 ° C.<br>
				 -> Not suitable for the dryer. Do not bleach. Do not iron.<br>
                </p>
              </div>
            </div>
            <button class="collapsible">Country of Origin</button>
            <div class="content">
              <div>
                <p>
                  Designed in Germany, all pillows are manufactured to our high quality assurance standards.
                </p>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
  </section>


<section class="customer-reviews-wrapper">
  <div class="wrapper">

{% render 'judgeme_widgets', widget_type: 'judgeme_review_widget', concierge_install: false, product: product %}
  </div>
</section>

<!--section class="free-trial-section">
  <div class="wrapper">
    <div class="free-trial-section--width">
      <img class="img-fluid free-trial-logo wow fadeIn" src="{{ "decor-100-night.png" | asset_url }}">
      <h2 class="text-orange free-trial-section--title wow fadeIn" data-wow-delay=".2s">
      	100 Day Money-Back Guarantee
      </h2>
      <p class="text-sky-blue text-lg font-weight-bold text-mobile-nm free-trial-section--description wow fadeInDown" data-wow-delay=".4s">
      	The best way to find out whether a product is right for you, is right from the comfort of your own home. That's why we give you 100 nights to test your Test Store products. If you decide it's not quite right, you can send it back and receive a full refund.
      </p>
    </div>
  </div>
</section

<section class="other-products-section">
  <div class="wrapper">
    <p class="text-lg text-primary-light font-weight-bold other-products-section--top-sub wow fadeIn">
    	RECOMMENDED PRODUCTS
    </p>
    <h3 class="text-primary header-text other-products-section--title wow fadeIn" data-wow-delay=".2s">
    	Other products you may be interested in
    </h3>
     <!---<p class="text-primary text-nm wow fadeIn" data-wow-delay=".4s">
    	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Scelerisque semper arcu eu ultrices sit ornare neque, in vitae. Feugiat viverra vitae vel eget elit et dictumst.
    </p>--->

    <div class="custom-featured-products-row wow fadeIn" data-wow-delay=".4s">
      {% for product in collections['mattress'].products limit: 3 %}
          {% assign current_variant = product.selected_or_first_available_variant %}

          <div class="featured-product-item">
            <a class="shop-now" href="{{ product.url }}">
              <div class="featured-product-item-flex">
              	<p class="text-sm text-primary font-weight-bold featured-product-item--tag">
                    {{ product.tags }}
                </p>
                 {% if product.compare_at_price_max > product.price %}

                {% capture discount %}
        	    {{ product.compare_at_price_min | minus:product.price | times:100 | divided_by:product.compare_at_price_min | plus:0 }}%
                {% endcapture %}

                  <p class="text-sm text-white featured-product-item--discount font-weight-bold">
                    -{{ discount }}
              	  </p>
                {% endif %}
              </div>
              <h4 class="text-primary featured-product-item--title">
                {{ product.title | escape }}
              </h4>

                {% include 'product-price', variant: current_variant %}

              <img src="{{ product.featured_image | product_img_url: 'medium' }}" alt="{{ product.title | escape }}" / class="featured-product-item--image">
            </a>
          </div>
      {% endfor %}
    </div>
  </div>
</section>

<section class="product-faqs-section">
  <div class="wrapper">
    <div class="product-faqs-section--flex">
      <div class="product-faqs-section--accordion-wrapper">
        <h5 class="header-text wow fadeIn">
        	We will answer your questions about this product
        </h5>
        <div class="bedsize-collapse wow fadeIn" data-wow-delay=".2s">
            <button class="collapsible">Can I wash my Test Store Pillow?</button>
            <div class="content">
              <div>
                <p> Yes, the pillow cover is removable and washable. </p>
				<p>	Washing Instruction </p>
				<p>	-> Cover can be washed in the washing machine at up to 40 ° C. </p>
				<p>	-> Not suitable for the dryer. Do not bleach. Do not iron. </p>
              </div>
            </div>
            <button class="collapsible">How can I adapt the pillow to my sleeping habits?</button>
            <div class="content">
              <div>
                <p>
                  The multilayer structure of the pillow allows you to adjust its height and firmness to your liking. It is composed of foams of varying firmness and thickness allowing you to personalize the fit.
                </p>
              </div>
            </div>

          	<button class="collapsible">Are pillows included in the 100 nights trial?</button>
            <div class="content">
              <div>
                <p>
                  Yes, it is included in the 100 nights trial.
                </p>
              </div>
            </div>
          </div>
      </div>
      <div class="product-faqs-section--second-col wow fadeIn" data-wow-delay=".4s">
        <h6 class="h6-small text-white body-text">
        	More questions?
        </h6>
        <p class="text-lg text-white">
          <a href="/pages/contact-us">Contact Us</a> via chat or Send us an email. We will respond as quickly as possible with 2 hours.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="custom-three-column-section">
  <div class="wrapper">
    <p class="text-lg other-text font-weight-bold text-primary-light text-mobile-center custom-three-column-section--top-sub wow fadeIn">
    	OUR PROMISE
    </p>
    <h2 class="text-primary text-mobile-center custom-three-column-section--title wow fadeIn" data-wow-delay=".3s">
    	Leave the stress to us, not on your sleep
    </h2>
    <div class="custom-three-column-section--row wow fadeIn" data-wow-delay=".5s">



      	<div class="custom-three-column-section--row__column">
    		<img class="img-fluid three-col--img" width="80px" src="{{ "usp_delivery.svg" | asset_url }}">
          	<h6 class="h6-small text-capitalize three-col--title">
          		Free Shipping
          	</h6>
          	<p class="text-sm other-text font-weight-normal three-col--description">
          		You don't have to worry about paying to get Test Store products to your home. All the products are delivered quickly, free of charge.
          	</p>
    	</div>

      	<div class="custom-three-column-section--row__column">
    		<img class="img-fluid three-col--img" width="80px" src="{{ "usp_100days.svg" | asset_url }}">
          	<h6 class="h6-small text-capitalize three-col--title">
          		100 Day Money-Back Guarantee
          	</h6>
          	<p class="text-sm other-text font-weight-normal three-col--description">
          		The best way to find out whether a product is right for you, is right from the comfort of your own home. That's why we give you 100 nights to test your Test Store products. If you decide it's not quite right, you can send it back and receive a full refund.
          	</p>
    	</div>

      	<div class="custom-three-column-section--row__column">
    		<img class="img-fluid three-col--img" width="80px" src="{{ "USP_return1.svg" | asset_url }}">
          	<h6 class="h6-small text-capitalize three-col--title">
          		Free Returns
          	</h6>
          	<p class="text-sm other-text font-weight-normal three-col--description">
          		If Test Store is not for you, we will pick it up for free and refund what you paid.
          	</p>
            <p><i>*Return service is currently only available within select areas. For areas outside coverage, please visit our FAQs or email support@emma-sleep.ph for more details.
              </i><p>
    	</div>

    </div>
  </div>
  <img class="img-fluid three-col--img-decor" src="{{ "half-moon-desktop-blue.svg" | asset_url }}">
</section>
