


<section class="why-emma">
<!-- your code here    -->
  <div class="wrapper">
    <div class="grid">
      <div class="grid__item large--one-half push--large--one-quarter ">
        <p class="subheader-text wow fadeIn">GLOBAL LEADER IN SLEEP PRODUCTS</p>
        <h3 class="header-text wow fadeIn" data-wow-delay=".2s">Why the Test Store Original Mattress? </h3>
      </div>
    </div>

    <!--div class="grid wow fadeIn">
     <!-- div class="grid__item large--one-third">
        <div class="why-emma-features">
          <div class="features-img-cont">
            <img class="img-fluid" src="{{ "breathability.svg" | asset_url }}">

          </div>
          <h4>Stay Cool While You Sleep</h4>
          <p>Whenever you go to sleep, your body emits heat. Our breathable top layer dissipates heat and moisture coming out of the body to give you a cool and comfortable sleep experience. Wake up feeling as fresh and energized as ever.</p>
        </div>
		</div>
      <div class="grid__item large--one-half">
        <div class="why-emma-features">
          <div class="features-img-cont">
            <img class="img-fluid" src="{{ "spinal-support.svg" | asset_url }}">
          </div>
          <h4>Pressuring Relieving 7-Zone Design for Humans</h4>
          <p>

          Human bodies afren't bricks. They're curved and varied and heavy or light at different spots.
          <br><br>
          That's why the sleep scientists at Test Store designed the mattresses with the 7 zones so they're harder or firmer depending on part of your body they're meant to support.
          <br><br>
          Trust us. For science.

          </p>
        </div>
      </div>
      <div class="grid__item large--one-half">
        <div class="why-emma-features">
          <div class="features-img-cont">
            <img class="img-fluid" src="{{ "motion-isolation.svg" | asset_url }}">
          </div>
          <h4>Motion Isolation for the Light Sleeping Partner</h4>
     		<p>Stop waking up because your partner keeps tossing and turning. Our motion isolating foam is designed to minimize movement and weight disturbance to ensure one side of the bed's turbulence doesn't affect the other side at all.
          </p>
        </div>
      </div>
    </div -->

           <div class="grid tech-materials">

              <div class="grid__item large--one-half">
        <div class="">
            <img class="img-fluid wow fadeIn" src="{{ "emma-fr-bodychart.png" | asset_url }}">
        </div>
      </div>
      <div class="grid__item large--one-half">
        <div class="techmat-cont">
          <h5 class="wow fadeIn" data-wow-delay=".2s">
            HUMAN-CENTERED DESIGN
          </h5>
          <h3 class="wow fadeIn" data-wow-delay=".4s">
            Pressuring Relieving 7-Zone Design for Humans
          </h3>
          <p class="wow fadeIn" data-wow-delay=".6s">
Human bodies aren't bricks. They're curved and varied and heavy or light at different spots.
          <br><br>
          That's why the sleep scientists at Test Store designed the mattresses with the 7 zones so they're harder or firmer depending on part of your body they're meant to support.
          <br><br>
          Trust us. For science.
        </div>
      </div>

    </div>



    <div class="grid">

      <div class="grid__item large--one-half">

        <div class="techmat-cont">
          <h5 class="wow fadeIn" data-wow-delay=".2s">
            MOTION ISOLATION
          </h5>
          <h3 class="wow fadeIn" data-wow-delay=".4s">
            Motion Isolation for the Light Sleeping Partner
          </h3>
          <p class="wow fadeIn" data-wow-delay=".6s">
Stop waking up because your partner keeps tossing and turning. Our motion isolating foam is designed to minimize movement and weight disturbance to ensure one side of the bed's turbulence doesn't affect the other side at all.
          </p></div>
      </div>

      <div class="grid__item large--one-half">
        <div class="tech-mat-img">
            <img class="img-fluid wow fadeIn" src="{{ "Motion_Transfer.svg" | asset_url }}">
        </div>
      </div>

    </div>




    <div class="grid tech-materials">
      <div class="grid__item large--one-half">
        <div class="tech-mat-img">
            <img class="img-fluid wow fadeIn" src="{{ "emma-original-mattress-explosion-cover-core-blue.png" | asset_url }}">
        </div>
      </div>
      <div class="grid__item large--one-half">
        <div class="techmat-cont">
          <h5 class="wow fadeIn" data-wow-delay=".2s">
            QUALITY MATERIALS
          </h5>
          <h3 class="wow fadeIn" data-wow-delay=".4s">
            Sleep, Reinvented.
          </h3>
          <p class="wow fadeIn" data-wow-delay=".6s">
            Using the latest foam technology, mattress experts research and deliver premium mattresses at an affordable price. It fits various sleeping postures, supports the body firmly, disperses pressure, and realizes comfortable sleep with high breathability.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper techmat-section">
   <div class="grid techmat-slider">

     <div class="grid__item xlarge--three-twelfths wow fadeIn">
       <div class="techmat--slider-cont">
         <img class="img-fluid" src="{{ "emma-original-mattress-foam-details-airgocell-4.png" | asset_url }}">
         <div class="techmat--slider-par">
           <p class="text-lg font-weight-bold">
             Elastic and Washable Mattress Cover
           </p>
           <p>
Soft-to-the-touch, elastic, and slip minimizing. Removable and machine-washable.           </p>
         </div>
       </div>
     </div>
     <div class="grid__item xlarge--three-twelfths wow fadeIn">
       <div class="techmat--slider-cont">
         <img class="img-fluid" src="{{ "emma-original-mattress-foam-details-airgocell-1.png" | asset_url }}">
         <div class="techmat--slider-par">
           <p class="text-lg font-weight-bold">
             Breathable, Eco-Friendly Layer
           </p>
           <p>
			Designed to cushion you progressively into the mattress. Breathable to help regulate body heat. Eco-friendly because we care about the planet.
           </p>
         </div>
       </div>
     </div>
     <div class="grid__item xlarge--three-twelfths wow fadeIn" data-wow-delay=".2s">
       <div class="techmat--slider-cont">
         <img class="img-fluid" src="{{ "emma-original-mattress-foam-details-airgocell-2.png" | asset_url }}">
         <div class="techmat--slider-par">
           <p class="text-lg font-weight-bold">
            7-Zone Layer
           </p>
           <p>
             The 7-Zone foam center is designed to relieve pressure differently depending on the body part it's expected to support. Upper backs and shoulders (especially when lying on your side or back) tend to be heavier or need to sink deeper than say your lower back, and so the former zone sinks a bit deeper than the latter. You can easily test the zoning when you get your mattress.
           </p>
         </div>
       </div>
     </div>
     <div class="grid__item xlarge--three-twelfths wow fadeIn" data-wow-delay=".4s">
       <div class="techmat--slider-cont">
         <img class="img-fluid" src="{{ "emma-original-mattress-foam-details-airgocell-3.png" | asset_url }}">
         <div class="techmat--slider-par">
           <p class="text-lg font-weight-bold">
             Base Layer
           </p>
           <p>
				Our foundational base has incisions that allow the mattress to support and be pressure-relieving for everyone at every size. They also help keep our mattresses extremely durable and sturdy, helping us provide you that long lasting warranty.
           </p>
         </div>
       </div>
     </div>
	</div>
  </div>

  <!-- div class="wrapper sleep-positions">
    <div class="grid">
      <div class="grid__item xlarge--five-twelfths">
        <div class="sleep-position-det wow fadeIn">
          <h5>
            BETTER SLEEP FOR EVERYONE
          </h5>
          <h3>
            Perfect for All Sleeping Positions
          </h3>
          <h4>
            Side Sleeper
          </h4>
          <p>
			Since the greatest distance between head and shoulder has to be bridged with a side sleeper, we recommend that you use all three layers as a side sleeper and define your preferred top side.
          </p>
          <h4>
            Back Sleeper
          </h4>
          <p>
            If you sleep on your back, we recommend using two of the three layers. When choosing the upper layer, you are of course free to make your own decision thanks to your individual lying sensation.
          </p>
          <h4>
            Stomach Sleeper
          </h4>
          <p>
            As a stomach sleeper, we recommend that you remove all but one layer for the ideal height. You can decide individually which of the three layers corresponds to your personal reclining preference.
          </p>
        </div>
      </div>
      <div class="grid__item xlarge--seven-twelfths">
        <div class="slp--wrapper wow fadeIn">
          <div class="slp--like-rct">
            <div class="slp-like-cont">
              <div class="slp-likes">
                55
                <img class="img-fluid wow fadeInUp" data-wow-delay=".2s" src="{{ "like-icon.svg" | asset_url }}">
                <img class="img-fluid notif-arrow-down" src="{{ "notif-arrow-down.svg" | asset_url }}">
              </div>
              <img src="{{ "sea-fave-photo-pt-3.png" | asset_url }} ">
            </div>
          </div>
          <img class="img-fluid main-img" src="{{ "sea-fave-photo-pt-7.png" | asset_url }}">
          <img class="img-fluid pitch-dots" src="{{ "pitch-dots.svg" | asset_url }}">
          <div class="slp--heart-rct">
            <div class="slp-heart-cont">
              <div class="slp-hearts">
                22
                <img class="img-fluid wow fadeInRight" data-wow-delay=".6s" src="{{ "heart-icon.svg" | asset_url }}">
                <img class="img-fluid notif-arrow-left" src="{{ "notif-arrow-down.svg" | asset_url }}">
              </div>
              <img class="img-fluid" src="{{ "sea-fave-photo-pt-6.png" | asset_url }}">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div -->

</section>

<section class="bedsize-section">
    <div class="wrapper bedsize-block">
      <div class="grid">
        <div class="grid__item large--six-twelfths push--large--three-twelfths">
          <div class="bedsize-heading wow fadeIn">
            <h5>
              CRAFTED WITH QUALITY
            </h5>
            <h3 class="wow fadeIn" data-wow-delay=".2s">
              Learn more about our Mattress
            </h3>
            <!--
            <p class="wow fadeInDown" data-wow-delay=".4s">
              We know how difficult it is to find a good pillow. That is why we have developed the perfect pillow for all types of sleep: individually height-adjustable, maximally comfortable and with an all-round carefree guarantee.
            </p> -->
          </div>
        </div>

        <div class="grid__item large--ten-twelfths push--large--one-twelfth">
          <img class="img-fluid bedsize-model wow fadeIn" data-wow-delay=".6s" src="{{ "bedsize-model.png" | asset_url }}">
        </div>

        <div class="grid__item large--eight-twelfths push--large--two-twelfths">
          <div class="bedsize-collapse">
            <button class="collapsible">Constructions and Materials</button>
            <div class="content">
              <div>
                <p>
                  <b>Cover Layer Material</b><br>
                  >	Removable and washable top fabric: 99% polyester and 1% elastane <br>
                  >	Border fabric: 100% polyester <br>
                  >	Bottom fabric: 87% polyester and 13% polypropylene <br>
                  >	Handles: 100% Polyester
					<br>
                  <b>Mattress Core Construction</b><br>
                  > Breathable eco-friendly foam <br>
                  > Pressure-relieving PU Standard Foam <br>
                  > Supportive, point elastic, HRX Foam<br><br>
                  <b>Certification</b><br>
                  >OEKO-Tex® 100 Certified <br>
                  Class 1 (16.0.93305) of OEKO-Tex Standard 100. <br>
                  What does it mean?<br>
                  Meets the highest standard and are therefore suitable for infants.
                    </p>
              </div>
            </div>
            <button class="collapsible">Size and Weight</button>
            <div class="content">
              <div>
                <p>
                  Single：  90（width） x 190（length） x 25 cm（height）& 19 kg <br>
                  Queen：150（width） x 190（length） x 25 cm（height）& 32 kg <br>
                  King：180（width） x 190（length） x 25 cm（height）& 39 kg
                </p>
              </div>
            </div>
            <button class="collapsible">Mattress Box Dimensions</button>
            <div class="content">
              <div>
                <p>
                  Single's Box：38 x 38 x 110 cm <br>
                  Queen's and King's Box：45 x 45 x 110 cm
                </p>
              </div>
            </div>
            <button class="collapsible">Mattress Firmness</button>
            <div class="content">
              <div>
                <p>
                  Level 6.2 Firmness (1 softest, 10 hardest)
                </p>
              </div>
            </div>
            <button class="collapsible">Country of Origin</button>
            <div class="content">
              <div>
                <p>
                  Designed in Germany. All mattresses are manufactured to our high quality assurance standards.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<section class="customer-reviews-wrapper">
  <div class="wrapper">

    <!--
    <div class="customer-reviews-flex">
      <div>
      	<h5 class="text-primary font-weight-bold">
          Customer Reviews
        </h5>
        <p class="text-primary text-sm">
        	Based in 30 Reviews
        </p>
      </div>
      <div>
        <a href="#" class="btn btn-primary">
        	Write a Review
        </a>
      </div>
    </div>

    <ul class="customer-reviews-tags-flex">
      <li>
        <a href="#">
        	Customer Service
        </a>
      </li>
      <li>
		<a href="#">
        	Delivery
        </a>
      </li>
      <li>
		<a href="#">
        	100 Night Trial
        </a>
      </li>
    </ul> -->


{% render 'judgeme_widgets', widget_type: 'judgeme_review_widget', concierge_install: false, product: product %}

  </div>
</section>

<!--
<section class="free-trial-section">
  <div class="wrapper">
    <div class="free-trial-section--width">
      <img class="img-fluid free-trial-logo wow fadeIn" src="{{ "decor-100-night.png" | asset_url }}">
      <h2 class="text-orange free-trial-section--title wow fadeIn" data-wow-delay=".2s">
      	100 Day Money-Back Guarantee
      </h2>
      <p class="text-sky-blue text-lg font-weight-bold text-mobile-nm free-trial-section--description wow fadeIn" data-wow-delay=".4s">
      	The best way to find out whether a product is right for you, is right from the comfort of your own home. That's why we give you 100 nights to test your Test Store products. If you decide it's not quite right, you can send it back and receive a full refund.
    </div>
  </div>
</section>

<section class="other-products-section">
  <div class="wrapper">
    <p class="text-lg text-white font-weight-bold other-products-section--top-sub wow fadeIn">
    	RECOMMENDED PRODUCTS
    </p>
    <h3 class="text-primary header-text other-products-section--title wow fadeIn" data-wow-delay=".2s">
    	Other products you may be interested in
    </h3>
   <p class="text-primary text-nm wow fadeIn" data-wow-delay=".4s">
    	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Scelerisque semper arcu eu ultrices sit ornare neque, in vitae. Feugiat viverra vitae vel eget elit et dictumst.
    </p>--->

    <div class="custom-featured-products-row wow fadeIn" data-wow-delay=".4s">
      {% for product in collections['mattress'].products limit: 3 %}
          {% assign current_variant = product.selected_or_first_available_variant %}

          <div class="featured-product-item">
            <a class="shop-now" href="{{ product.url }}">
              <div class="featured-product-item-flex">
              	<p class="text-sm text-primary font-weight-bold featured-product-item--tag">
                    {{ product.tags }}
                </p>
                {% if product.compare_at_price_max > product.price %}

                {% capture discount %}
     		     {{ product.compare_at_price_min | minus:product.price | times:100 | divided_by:product.compare_at_price_min | plus:0 }}%
                {% endcapture %}

                  <p class="text-sm text-white featured-product-item--discount font-weight-bold">
                    -{{ discount }}
              	  </p>
                {% endif %}
              </div>
              <h4 class="text-primary featured-product-item--title">
                {{ product.title | escape }}
              </h4>

                {% include 'product-price', variant: current_variant %}

              <img src="{{ product.featured_image | product_img_url: 'medium' }}" alt="{{ product.title | escape }}" / class="featured-product-item--image">
            </a>
          </div>
      {% endfor %}
    </div>

  </div>





</section>

<section class="product-faqs-section">
  <div class="wrapper">
    <div class="product-faqs-section--flex">
      <div class="product-faqs-section--accordion-wrapper">
        <h5 class="header-text wow fadeIn">
        	<br>We will answer your questions about this product
        </h5>
        <div class="bedsize-collapse wow fadeIn" data-wow-delay=".2s">
            <button class="collapsible">What makes the Test Store Original Mattress special?</button>
            <div class="content">
              <div>
                <p>
                  Test Store smoothly combines high-quality materials to create a dream-like mattress that conforms to every body type. Through the combination of our extensive research and advanced foam technology, Test Store allows you to get the comfiest sleep possible. The Test Store Original Mattress offers comfort point-elastic caving that enables an ideal and unique fit for your body. As a result, your spine stays straight while at the same time offering you the necessary amount of support and comfort. The innovative eco-friendly top layer optimally relieves the individual body parts and guarantees a cooling effect while you sleep thanks to its breathability. The high quality foams used to make Test Store are created in Germany. The processed materials are all fine, durable and produced at top quality facilities.
                </p>
              </div>
            </div>
            <button class="collapsible">What is the Test Store Original Mattress made from?</button>
            <div class="content">
              <div>
                <p>
                  The Test Store Original Mattress consists of three different layers: Eco-friendly foam: breathable as it wicks away moisture and stops you from overheating. It’s also wonderfully bouncy, for sweet slumbers every night. Pressure-relieving, zoning foam: ensures optimum pressure relief and molds to the shape of your body Supportive point-elastic foam: provides durability and support
                </p>
              </div>
            </div>
            <button class="collapsible">How can a mattress be suitable for everyone?</button>
            <div class="content">
              <div>
                <p>
                  We worked long and hard to find the perfect composition for our Test Store Mattress and have found the optimum balance between support and comfort. While most customers are very satisfied with the Test Store Original Mattress, there are of course exceptions. That is why we offer our stress-free 100 night sleep trial so you can decide for yourself.
                </p>
              </div>
            </div>
            <button class="collapsible">What sizes is the Test Store Original Mattress available in?</button>
            <div class="content">
              <div>
                <p>
                  The Test Store Original Mattress is available in a variety of sizes:<br>
                  Single (190 x 90 cm)<br>
                  Queen (190 x 150 cm)<br>
                  King (190 x 180 cm)
                </p>
              </div>
            </div>
            <button class="collapsible">Does the foam smell?</button>
            <div class="content">
              <div>
                <p>
                  Like all new products, the Test Store Original Mattress has a slight "new" smell at the start. Since we exclusively use high-grade materials, this slight smell will wear off after the first few hours. Make sure the mattress is aired out in a well ventilated room.
                </p>
              </div>
            </div>

          <button class="collapsible">How firm is the Test Store Original Mattress?</button>
            <div class="content">
              <div>
                <p>
                  The Test Store Original Mattress is categorized as a medium firmness mattress, this offers more natural spinal alignment for the user as it has better zoning, making it ideal for people who struggle with back pain. On a scale of 1-10, with 1 being very soft and 10 being very firm, we rate the Test Store Original Mattress a 6-7.
                </p>
              </div>
            </div>

          <button class="collapsible">Is the Test Store Original Mattress vegan?</button>
            <div class="content">
              <div>
                <p>
                  Yes, the Test Store Original Mattress is 100 % vegan and does not contain any animal based materials. Unfortunately the mattress is inedible.
                </p>
              </div>
            </div>

          	<button class="collapsible">Why is the Test Store Original Mattress so much more affordable compared to other mattresses from a specialized dealer?</button>
            <div class="content">
              <div>
                <p>
                  Our mattress comes directly from the factory to you. We skip the elegant showrooms and fussy salespeople in order to save you time and money. We skipped on the frills in order to give our customers a lower - and fair - price without skimping on quality.
                </p>
              </div>
            </div>

          	<button class="collapsible">How can I wash my Test Store Original Mattress?</button>
            <div class="content">
              <div>
                <p>
                  You can easily wash your Test Store cover. You just open the zip and separate the top from the bottom part. Treat your Test Store like your favorite shirt, by washing both, the top and bottom part, at 60°C in the washing machine. Because of the special fibre used in the cover with the high dampness releasing function it will only be a little clammy coming out of the machine. You can also wash single stains off by hand with a gentle washing detergent.
                </p>
              </div>
            </div>

          	<button class="collapsible">How is the Test Store Original Mattress created?</button>
            <div class="content">
              <div>
                <p>
                  The Test Store Original Mattress consists of three different layers: Breathable and bouncy eco-friendly foam on top with an open-pore cell structure that enables pleasant air circulation while keeping you cool, even on warm nights. Pressure-relieving, zoning comfort foam in the middle that ensures optimum pressure relief and molds to the shape of your body. Supportive point-elastic foam on the bottom that provides your with support and adds to the durability of the mattress.
                </p>
              </div>
            </div>

          	<button class="collapsible">Is the Test Store Original Mattress considered a medical device?</button>
            <div class="content">
              <div>
                <p>
                  No, it is not a medical device.
                </p>
              </div>
            </div>

          	<button class="collapsible">How long can my Test Store Original Mattress stay in the box for?</button>
            <div class="content">
              <div>
                <p>
                  The Test Store Original Mattress shouldn't be left rolled up in the box for more than two weeks after delivery as this may damage your mattress.
                </p>
              </div>
            </div>

            <h5 class="header-text wow fadeIn faq-using">
              Using Test Store Mattress
          	</h5>

          	<button class="collapsible">Can I use an electric blanket?</button>
            <div class="content">
              <div>
                <p>
                  Yes! The Test Store Original Mattress is suitable and safe to use with an electric blanket.
                </p>
              </div>
            </div>

          	<button class="collapsible">I have back or neck pain, is Test Store Original Mattress the right mattress for ne?</button>
            <div class="content">
              <div>
                <p>
                  We understand that needs vary by individuals so we offer a 100 night trial to test the Test Store Original Mattress risk-free. That way you can decide if it is best for your situation.
                </p>
              </div>
            </div>

          	<button class="collapsible">Do I need to flip and ventilate it?</button>
            <div class="content">
              <div>
                <p>
                  Flipping your Test Store Original Mattress is not necessary and the white top-cover and breathable eco-friendly foam layer should always remain on top. The three-layer build-up form serves as an especially long lived function of support, so the usual flipping of the mattress isn’t necessary. The special breathability and open-cell character of the core materials provide a self-contained ventilation system, keeping the mattress aerated.
                </p>
              </div>
            </div>

          </div>
      </div>
      <div class="product-faqs-section--second-col wow fadeIn" data-wow-delay=".4s">
        <h6 class="h6-small text-white body-text">
        	More questions?
        </h6>
        <p class="text-lg text-white">
          <a href="/pages/contact-us">Contact Us</a> via chat or Send us an email. We will respond as quickly as possible with 2 hours.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="custom-three-column-section">
  <div class="wrapper">
    <p class="text-lg other-text font-weight-bold text-primary-light text-mobile-center custom-three-column-section--top-sub wow fadeIn">
    	OUR PROMISE
    </p>
    <h2 class="text-primary text-mobile-center custom-three-column-section--title wow fadeIn" data-wow-delay=".3s">
    	Leave the stress to us, not on your sleep
    </h2>
    <div class="custom-three-column-section--row wow fadeIn" data-wow-delay=".5s">



      	<div class="custom-three-column-section--row__column">
    		<img class="img-fluid three-col--img" width="80px" src="{{ "usp_100days.svg" | asset_url }}">
          	<h6 class="h6-small text-capitalize three-col--title">
          		100 Day Money-Back Guarantee
          	</h6>
          	<p class="text-sm other-text font-weight-normal three-col--description">
			The best way to find out whether a product is right for you, is right from the comfort of your own home. That's why we give you 100 nights to test your Test Store products. If you decide it's not quite right, you can send it back and receive a full refund.
          	</p>
    	</div>

      	<div class="custom-three-column-section--row__column">
    		<img class="img-fluid three-col--img" width="80px" src="{{ "usp_delivery.svg" | asset_url }}">
          	<h6 class="h6-small text-capitalize three-col--title">
          		Free Shipping and Return
          	</h6>
          	<p class="text-sm other-text font-weight-normal three-col--description">
			You don't have to worry about paying to get Test Store products to your home. All products are delivered quickly and free of charge! And if Test Store is not for you, we will pick it up for free and refund what you paid.
          	</p>
          	<p><i>*Return service is currently only available within select areas. For areas outside coverage, please visit our FAQs or email support@emma-sleep.ph for more details.
            </i><p>
    	</div>

      	<div class="custom-three-column-section--row__column">
    		<img class="img-fluid three-col--img" width="80px" src="{{ "usp_guarantee.svg" | asset_url }}">
          	<h6 class="h6-small text-capitalize three-col--title">
          		10 Year Warranty
          	</h6>
          	<p class="text-sm other-text font-weight-normal three-col--description">
			Each Test Store Original Mattress comes with a 10 year warranty, ensuring the longevity and quality of the mattress core.          	</p>
    	</div>

    </div>
  </div>
  <img class="img-fluid three-col--img-decor"  src="{{ "half-moon-desktop-blue.svg" | asset_url }}">
</section>
