

<div class="active" id="section-top-questions">
  <div class="bedsize-collapse" id="top-question">
    <h3>Top Questions</h3>
    {% for block in section.blocks %}
    {% if block.type == "top-questions"%}
      <button class="collapsible">{{ block.settings.q}}</button>
      <div class="content">
      {{ block.settings.a}}
      </div>
    {% endif %}
    {% endfor %}
  </div>
</div>


<div class="inactive" id="section-trials-warranty">
  <div class="bedsize-collapse" id="100-night-trials">
    <h3>100 Night Trials</h3>
    {% for block in section.blocks %}
    {% if block.type == "100-night-trials"%}
      <button class="collapsible">{{ block.settings.q}}</button>
      <div class="content">
      {{ block.settings.a}}
      </div>
    {% endif %}
    {% endfor %}
  </div>
  <div class="bedsize-collapse" id="10-year-warranty">
    <h3>10 Year Warranty</h3>
    {% for block in section.blocks %}
    {% if block.type == "10-year-warranty"%}
      <button class="collapsible">{{ block.settings.q}}</button>
      <div class="content">
      {{ block.settings.a}}
      </div>
    {% endif %}
    {% endfor %}
  </div>
</div>

<div class="inactive" id="section-emma-original-mattresss">
  <div class="bedsize-collapse" id="about-emma-mattress">
    <h3>About Test Store Original Mattress</h3>
    {% for block in section.blocks %}
    {% if block.type == "about-emma-mattress"%}
      <button class="collapsible">{{ block.settings.q}}</button>
      <div class="content">
      {{ block.settings.a}}
      </div>
    {% endif %}
    {% endfor %}
  </div>
   <div class="bedsize-collapse" id="using-emma-mattress">
    <h3>Using Test Store Original Mattress</h3>
    {% for block in section.blocks %}
    {% if block.type == "using-emma-mattress"%}
      <button class="collapsible">{{ block.settings.q}}</button>
      <div class="content">
      {{ block.settings.a}}
      </div>
    {% endif %}
    {% endfor %}
  </div>
</div>


<div class="inactive" id="section-purchasing-orders">
  <div class="bedsize-collapse" id="discounts">
    <h3>Discounts</h3>
    {% for block in section.blocks %}
    {% if block.type == "discounts"%}
      <button class="collapsible">{{ block.settings.q}}</button>
      <div class="content">
      {{ block.settings.a}}
      </div>
    {% endif %}
    {% endfor %}
  </div>
   <div class="bedsize-collapse" id="payments">
    <h3>Payments</h3>
    {% for block in section.blocks %}
    {% if block.type == "payments"%}
      <button class="collapsible">{{ block.settings.q}}</button>
      <div class="content">
      {{ block.settings.a}}
      </div>
    {% endif %}
    {% endfor %}
  </div>
</div>


<div class="inactive" id="section-delivery">
  <div class="bedsize-collapse" id="manage-my-order">
    <h3>Manage My Order</h3>
    {% for block in section.blocks %}
    {% if block.type == "manage-my-order"%}
      <button class="collapsible">{{ block.settings.q}}</button>
      <div class="content">
      {{ block.settings.a}}
      </div>
    {% endif %}
    {% endfor %}
  </div>

   <div class="bedsize-collapse" id="delivery">
    <h3>Delivery</h3>
    {% for block in section.blocks %}
    {% if block.type == "delivery"%}
      <button class="collapsible">{{ block.settings.q}}</button>
      <div class="content">
      {{ block.settings.a}}
      </div>
    {% endif %}
    {% endfor %}
  </div>

  <div class="bedsize-collapse" id="receiving-the-product">
    <h3>Receiving the Product</h3>
    {% for block in section.blocks %}
    {% if block.type == "receiving-the-product"%}
      <button class="collapsible">{{ block.settings.q}}</button>
      <div class="content">
      {{ block.settings.a}}
      </div>
    {% endif %}
    {% endfor %}
  </div>
</div>


<div class="inactive" id="section-return-refunds">
  <div class="bedsize-collapse" id="returns">
    <h3>Returns</h3>
    {% for block in section.blocks %}
    {% if block.type == "returns"%}
      <button class="collapsible">{{ block.settings.q}}</button>
      <div class="content">
      {{ block.settings.a}}
      </div>
    {% endif %}
    {% endfor %}
  </div>
  <div class="bedsize-collapse" id="refunds">
    <h3>Refunds</h3>
    {% for block in section.blocks %}
    {% if block.type == "refunds"%}
      <button class="collapsible">{{ block.settings.q}}</button>
      <div class="content">
      {{ block.settings.a}}
      </div>
    {% endif %}
    {% endfor %}
  </div>
</div>


<div class="inactive" id="section-unpacking">
  <div class="bedsize-collapse" id="unpacking">
    <h3>Unpacking</h3>
    {% for block in section.blocks %}
    {% if block.type == "unpacking"%}
      <button class="collapsible">{{ block.settings.q}}</button>
      <div class="content">
      {{ block.settings.a}}
      </div>
    {% endif %}
    {% endfor %}
  </div>
</div>

<div class="inactive" id="section-refer-a-friend">
  <div class="bedsize-collapse" id="refer-a-friend">
    <h3>Refer-A Friend</h3>
    {% for block in section.blocks %}
    {% if block.type == "refer-a-friend"%}
      <button class="collapsible">{{ block.settings.q}}</button>
      <div class="content">
      {{ block.settings.a}}
      </div>
    {% endif %}
    {% endfor %}
  </div>
</div>

<div class="inactive" id="section-accessing-account">
  <div class="bedsize-collapse" id="accessing-your-account">
    <h3>Accessing Your Account</h3>
    {% for block in section.blocks %}
    {% if block.type == "accessing-your-account"%}
      <button class="collapsible">{{ block.settings.q}}</button>
      <div class="content">
      {{ block.settings.a}}
      </div>
    {% endif %}
    {% endfor %}
  </div>
</div>







{% schema %}
  {
    "name": "FAQ Content",
    "settings": [],
	"blocks": 	[
					{
						"type": "top-questions",
						"name": "Top Questions",
						"settings": [
										{
											"type": "text",
											"id": "q",
											"label": "Question"
										},
										{
											"type": "textarea",
											"id": "a",
											"label": "Answer"
										}
									]
					},
					{
						"type": "100-night-trials",
						"name": "100 Night Trials",
						"settings": [
										{
											"type": "text",
											"id": "q",
											"label": "Question"
										},
										{
											"type": "textarea",
											"id": "a",
											"label": "Answer"
										}
									]
					},
					{
						"type": "10-year-warranty",
						"name": "10 Year Warranty",
						"settings": [
										{
											"type": "text",
											"id": "q",
											"label": "Question"
										},
										{
											"type": "textarea",
											"id": "a",
											"label": "Answer"
										}
									]
					},
					{
						"type": "about-emma-mattress",
						"name": "About Test Store Mattress",
						"settings": [
										{
											"type": "text",
											"id": "q",
											"label": "Question"
										},
										{
											"type": "textarea",
											"id": "a",
											"label": "Answer"
										}
									]
					},
					{
						"type": "using-emma-mattress",
						"name": "Using Test Store Mattress",
						"settings": [
										{
											"type": "text",
											"id": "q",
											"label": "Question"
										},
										{
											"type": "textarea",
											"id": "a",
											"label": "Answer"
										}
									]
					},
					{
						"type": "discounts",
						"name": "Discounts",
						"settings": [
										{
											"type": "text",
											"id": "q",
											"label": "Question"
										},
										{
											"type": "textarea",
											"id": "a",
											"label": "Answer"
										}
									]
					},
					{
						"type": "payments",
						"name": "Payments",
						"settings": [
										{
											"type": "text",
											"id": "q",
											"label": "Question"
										},
										{
											"type": "textarea",
											"id": "a",
											"label": "Answer"
										}
									]
					},
					{
						"type": "manage-my-order",
						"name": "Manage my order",
						"settings": [
										{
											"type": "text",
											"id": "q",
											"label": "Question"
										},
										{
											"type": "textarea",
											"id": "a",
											"label": "Answer"
										}
									]
					},
					{
						"type": "delivery",
						"name": "Delivery",
						"settings": [
										{
											"type": "text",
											"id": "q",
											"label": "Question"
										},
										{
											"type": "textarea",
											"id": "a",
											"label": "Answer"
										}
									]
					},
					{
						"type": "receiving-the-product",
						"name": "Receiving the Product",
						"settings": [
										{
											"type": "text",
											"id": "q",
											"label": "Question"
										},
										{
											"type": "textarea",
											"id": "a",
											"label": "Answer"
										}
									]
					},
					{
						"type": "returns",
						"name": "Returns",
						"settings": [
										{
											"type": "text",
											"id": "q",
											"label": "Question"
										},
										{
											"type": "textarea",
											"id": "a",
											"label": "Answer"
										}
									]
					},
					{
						"type": "refunds",
						"name": "Refunds",
						"settings": [
										{
											"type": "text",
											"id": "q",
											"label": "Question"
										},
										{
											"type": "textarea",
											"id": "a",
											"label": "Answer"
										}
									]
					},
					{
						"type": "unpacking",
						"name": "Unpacking",
						"settings": [
										{
											"type": "text",
											"id": "q",
											"label": "Question"
										},
										{
											"type": "textarea",
											"id": "a",
											"label": "Answer"
										}
									]
					},
					{
						"type": "refer-a-friend",
						"name": "Refer-A-Friend",
						"settings": [
										{
											"type": "text",
											"id": "q",
											"label": "Question"
										},
										{
											"type": "textarea",
											"id": "a",
											"label": "Answer"
										}
									]
					},
					{
						"type": "accessing-your-account",
						"name": "Accessing your Account",
						"settings": [
										{
											"type": "text",
											"id": "q",
											"label": "Question"
										},
										{
											"type": "textarea",
											"id": "a",
											"label": "Answer"
										}
									]
					}

				]

  }
{% endschema %}




<style>
  .inactive {
  	display:none;
  }
</style>


<script>


(function($){
	$(document).ready(function() {

      $(".faq-link").click(function(e){
      	e.preventDefault();
        //get the targeted element
        target = $(this).attr("href");

        if(target != "#" ){

          $(".active").each(function() {
              $(this).addClass("inactive");
              $(this).removeClass("active");
          });


           $(target).parent().removeClass("inactive");
           $(target).parent().addClass("active");


          $('html, body').animate({
              scrollTop: $(target).offset().top - 50
          }, 1000);

        }



      });


	});

})(jQuery);


</script>

{% stylesheet %}
{% endstylesheet %}

{% javascript %}


{% endjavascript %}
